#main {
    margin: auto;
    width: 100%;
    max-width: 750px;
    background-image: linear-gradient( 45deg, rgba(0, 24, 26, 0.8), rgba(136, 136, 206, 0.7) ), url("../img/code-bgd.jpg");
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#submit {
    width: 100%;
}

#survey-form {
    background-color: #2121238a;
    padding: 7%;
    border-radius: 1%;
    line-height: 2;
}

h1, p {
    text-align: center;
}